[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
[project]
name = "HypergraphAnalysisToolbox"
version = "0.0.2"
authors = [
  { name="Joshua Pickard", email="jpic@umich.edu" },
]
description = "This package performes hypergraph analysis."
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/Jpickard1/Hypergraph-Analysis-Toolbox"
"Bug Tracker" = "https://github.com/Jpickard1/Hypergraph-Analysis-Toolbox/issues"
